In [76]:
#!/usr/bin/env python3
import csv
import sys
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import os.path
import datetime
from matplotlib import rcParams

# import csv files
import_files = ['./import/AAM00021_20230124_235957.CSV',]

col_name = range(1,11,1)
df0 = pd.read_csv(import_files[0], names = col_name, encoding="cp932", delimiter=",", dtype="object")

record_num = int(df_data.iloc[0,1])
print("Record number = ",record_num)

header_num = 15
_df0 = df0[header_num:]
_df0

Record number =  200

,1,2,3,4,5,6,7,8,9,10
15,0,0,101,100:冷却 ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/18 07:03:22,2023/01/18 19:13:28,****/**/** **:**:**,1,1
16,0,0,104,103:運転ｽｲｯﾁ操作履歴,R,2023/01/18 07:03:34,2023/01/18 07:03:36,****/**/** **:**:**,1,1
17,0,0,93,092:冷却設定操作履歴,R,2023/01/18 09:17:54,2023/01/18 09:17:56,****/**/** **:**:**,1,1
18,0,0,103,102:洗浄 ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/18 19:13:28,2023/01/18 19:27:31,****/**/** **:**:**,1,1
19,0,0,104,103:運転ｽｲｯﾁ操作履歴,R,2023/01/18 19:13:50,2023/01/18 19:13:54,****/**/** **:**:**,1,1
...,...,...,...,...,...,...,...,...,...,...
210,0,0,102,101:ｺﾝﾍﾞｱ ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/24 20:23:35,2023/01/24 20:23:35,****/**/** **:**:**,1,1
211,0,0,101,100:冷却 ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/24 20:23:35,2023/01/24 20:23:49,****/**/** **:**:**,1,1
212,0,0,102,101:ｺﾝﾍﾞｱ ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/24 20:23:49,2023/01/24 20:23:49,****/**/** **:**:**,1,1
213,0,0,103,102:洗浄 ｾﾚｸﾀｽｲｯﾁ操作履歴,O,2023/01/24 20:23:49,****/**/** **:**:**,****/**/** **:**:**,1,1
214,0,0,104,103:運転ｽｲｯﾁ操作履歴,R,2023/01/24 20:23:59,2023/01/24 20:24:02,****/**/** **:**:**,1,1

In [77]:
#1,2,8,9,10列削除
_df0 = _df0.drop([1,2,8,9,10], axis=1)
_df0

,3,4,5,6,7
15,101,100:冷却 ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/18 07:03:22,2023/01/18 19:13:28
16,104,103:運転ｽｲｯﾁ操作履歴,R,2023/01/18 07:03:34,2023/01/18 07:03:36
17,93,092:冷却設定操作履歴,R,2023/01/18 09:17:54,2023/01/18 09:17:56
18,103,102:洗浄 ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/18 19:13:28,2023/01/18 19:27:31
19,104,103:運転ｽｲｯﾁ操作履歴,R,2023/01/18 19:13:50,2023/01/18 19:13:54
...,...,...,...,...,...
210,102,101:ｺﾝﾍﾞｱ ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/24 20:23:35,2023/01/24 20:23:35
211,101,100:冷却 ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/24 20:23:35,2023/01/24 20:23:49
212,102,101:ｺﾝﾍﾞｱ ｾﾚｸﾀｽｲｯﾁ操作履歴,R,2023/01/24 20:23:49,2023/01/24 20:23:49
213,103,102:洗浄 ｾﾚｸﾀｽｲｯﾁ操作履歴,O,2023/01/24 20:23:49,****/**/** **:**:**
214,104,103:運転ｽｲｯﾁ操作履歴,R,2023/01/24 20:23:59,2023/01/24 20:24:02

In [78]:
print(_df0.iloc[0,0])

101

In [79]:
# list = ['101','103','104','105',]
# for i 
# rows_to_drop = _df0.index[_df0[3]!='101']
# _df0.drop(rows_to_drop)

In [88]:
list = ['101','103','104','105',]
drop_list = []
for i in range(0,record_num):
    if _df0.iloc[i,0] in list:
        print('i=',i,_df0.iloc[i,0]," in List")
        continue
    else:
        print('i=',i,_df0.iloc[i,0]," out of List")
        drop_list.append(i)

print(drop_list)
_df0 = _df0.drop(_df0.index[drop_list])

i= 0 101  in List
i= 1 104  in List
i= 2 93  out of List
i= 3 103  in List
i= 4 104  in List
i= 5 104  in List
i= 6 101  in List
i= 7 102  out of List
i= 8 101  in List
i= 9 102  out of List
i= 10 103  in List
i= 11 104  in List
i= 12 101  in List
i= 13 104  in List
i= 14 95  out of List
i= 15 95  out of List
i= 16 95  out of List
i= 17 95  out of List
i= 18 95  out of List
i= 19 95  out of List
i= 20 95  out of List
i= 21 95  out of List
i= 22 95  out of List
i= 23 95  out of List
i= 24 95  out of List
i= 25 95  out of List
i= 26 95  out of List
i= 27 95  out of List
i= 28 108  out of List
i= 29 95  out of List
i= 30 108  out of List
i= 31 108  out of List
i= 32 93  out of List
i= 33 108  out of List
i= 34 108  out of List
i= 35 95  out of List
i= 36 95  out of List
i= 37 114  out of List
i= 38 112  out of List
i= 39 93  out of List
i= 40 93  out of List
i= 41 93  out of List
i= 42 95  out of List
i= 43 112  out of List
i= 44 95  out of List
i= 45 112  out of List
i= 46 95  out of List
i= 47 95  out of List
i= 48 95  out of List
i= 49 95  out of List
i= 50 95  out of List
i= 51 95  out of List
i= 52 95  out of List
i= 53 95  out of List
i= 54 95  out of List
i= 55 95  out of List
i= 56 95  out of List
i= 57 95  out of List
i= 58 95  out of List
i= 59 95  out of List
i= 60 95  out of List
i= 61 95  out of List
i= 62 95  out of List
i= 63 95  out of List
i= 64 95  out of List
i= 65 95  out of List
i= 66 112  out of List
i= 67 113  out of List
i= 68 105  in List
i= 69 103  in List
i= 70 104  in List
i= 71 101  in List
i= 72 112  out of List
i= 73 111  out of List
i= 74 112  out of List
i= 75 112  out of List
i= 76 104  in List
i= 77 93  out of List
i= 78 93  out of List
i= 79 95  out of List
i= 80 112  out of List
i= 81 113  out of List
i= 82 93  out of List
i= 83 95  out of List
i= 84 113  out of List
i= 85 105  in List
i= 86 103  in List
i= 87 104  in List
i= 88 95  out of List
i= 89 95  out of List
i= 90 95  out of List
i= 91 95  out of List
i= 92 111  out of List
i= 93 113  out of List
i= 94 113  out of List
i= 95 111  out of List
i= 96 101  in List
i= 97 104  in List
i= 98 91  out of List
i= 99 93  out of List
i= 100 93  out of List
i= 101 93  out of List
i= 102 93  out of List
i= 103 108  out of List
i= 104 108  out of List
i= 105 109  out of List
i= 106 108  out of List
i= 107 109  out of List
i= 108 108  out of List
i= 109 109  out of List
i= 110 108  out of List
i= 111 109  out of List
i= 112 108  out of List
i= 113 109  out of List
i= 114 109  out of List
i= 115 105  in List
i= 116 108  out of List
i= 117 109  out of List
i= 118 108  out of List
i= 119 108  out of List
i= 120 109  out of List
i= 121 109  out of List
i= 122 103  in List
i= 123 104  in List
i= 124 92  out of List
i= 125 111  out of List
i= 126 93  out of List
i= 127 93  out of List
i= 128 93  out of List
i= 129 101  in List
i= 130 104  in List
i= 131 1  out of List
i= 132 93  out of List
i= 133 93  out of List
i= 134 103  in List
i= 135 101  in List
i= 136 102  out of List
i= 137 103  in List
i= 138 41  out of List
i= 139 101  in List
i= 140 103  in List
i= 141 104  in List
i= 142 92  out of List
i= 143 92  out of List
i= 144 92  out of List
i= 145 92  out of List
i= 146 92  out of List
i= 147 92  out of List
i= 148 92  out of List
i= 149 92  out of List
i= 150 105  in List
i= 151 101  in List
i= 152 104  in List
i= 153 31  out of List
i= 154 93  out of List
i= 155 108  out of List
i= 156 109  out of List
i= 157 93  out of List
i= 158 93  out of List
i= 159 93  out of List
i= 160 105  in List
i= 161 103  in List
i= 162 104  in List
i= 163 92  out of List
i= 164 105  in List
i= 165 101  in List
i= 166 112  out of List
i= 167 104  in List
i= 168 93  out of List
i= 169 93  out of List
i= 170 93  out of List
i= 171 93  out of List
i= 172 93  out of List
i= 173 93  out of List
i= 174 22  out of List
i= 175 21  out of List
i= 176 93  out of List
i= 177 93  out of List
i= 178 93  out of List
i= 179 93  out of List
i= 180 105  in List
i= 181 102  out of List
i= 182 103  in List
i= 183 104  in List
i= 184 102  out of List
i= 185 101  in List
i= 186 112  out of List
i= 187 104  in List
i= 188 93  out of List
i= 189 93  out of List
i= 190 113  out of List
i= 191 105  in List
i= 192 105  in List
i= 193 102  out of List
i= 194 103  in List
i= 195 102  out of List
i= 196 101  in List
i= 197 102  out of List
i= 198 103  in List
i= 199 104  in List
[2, 7, 9, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 116, 117, 118, 119, 120, 121, 124, 125, 126, 127, 128, 131, 132, 133, 136, 138, 142, 143, 144, 145, 146, 147, 148, 149, 153, 154, 155, 156, 157, 158, 159, 163, 166, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 181, 184, 186, 188, 189, 190, 193, 195, 197]

In [91]:
_df0.to_csv("./out/sample.csv", encoding="shift_jis",)