In [15]:
#!/usr/bin/env python3
import csv
import pandas as pd
import os
import os.path
import datetime
import pathlib
import glob

out_dir = "out/"
os.makedirs(out_dir, exist_ok=True)

In [16]:
# import csv files
import_dir = "//172.25.0.195/fte_data (東日本)/【東京支社】/1.計画物件/3一般企業/ファーストチョイス㈱/ハンバーグフリーザー/HANEW本社監査指摘事項/運転データ/Package1/SOUSA"
output_dir = "C:/Users/0296/Desktop/firstChiceDataAnalysis"

os.chdir(import_dir)
csv_list = glob.glob("AAM00021_*.CSV")
len(csv_list)

317

In [17]:
df = pd.read_csv(csv_list[0], names = range(1,11,1), encoding="cp932", delimiter=",", dtype="object")
df

,1,2,3,4,5,6,7,8,9,10
0,:GT2K_ALARM_LOG_HISTORY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,:ALARM_ID,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,:ALARM_NAME,操作履歴,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,:RECORD_NUM,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,:COMMENT_GROUP_GENERAL_ID,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
210,0,0,112,111:商品選択2,R,2023/1/19 18:04,2023/1/19 18:04,****/**/** **:**:**,1,1
211,0,0,113,112:商品選択3,R,2023/1/19 18:35,2023/1/19 18:35,****/**/** **:**:**,1,1
212,0,0,105,104:停止ｽｲｯﾁ操作履歴,R,2023/1/19 19:02,2023/1/19 19:02,****/**/** **:**:**,1,1
213,0,0,103,102:洗浄 ｾﾚｸﾀｽｲｯﾁ操作履歴,O,2023/1/19 19:04,****/**/** **:**:**,****/**/** **:**:**,1,1
214,0,0,104,103:運転ｽｲｯﾁ操作履歴,R,2023/1/19 19:05,2023/1/19 19:05,****/**/** **:**:**,1,1

In [18]:
record_num = int(df.iloc[3,1])
print("Record number = ",record_num)
header_num = 15
_df = df[header_num:]
_df

Record number =  200

,1,2,3,4,5,6,7,8,9,10
15,0,0,109,108:警報解除ｽｲｯﾁ 操作履歴,R,2023/1/11 8:18,2023/1/11 8:18,****/**/** **:**:**,1,1
16,0,0,109,108:警報解除ｽｲｯﾁ 操作履歴,R,2023/1/11 8:23,2023/1/11 8:23,****/**/** **:**:**,1,1
17,0,0,108,107:警報停止ｽｲｯﾁ 操作履歴,R,2023/1/11 8:23,2023/1/11 8:23,****/**/** **:**:**,1,1
18,0,0,109,108:警報解除ｽｲｯﾁ 操作履歴,R,2023/1/11 8:23,2023/1/11 8:24,****/**/** **:**:**,1,1
19,0,0,93,092:冷却設定操作履歴,R,2023/1/11 9:25,2023/1/11 9:25,****/**/** **:**:**,1,1
...,...,...,...,...,...,...,...,...,...,...
210,0,0,112,111:商品選択2,R,2023/1/19 18:04,2023/1/19 18:04,****/**/** **:**:**,1,1
211,0,0,113,112:商品選択3,R,2023/1/19 18:35,2023/1/19 18:35,****/**/** **:**:**,1,1
212,0,0,105,104:停止ｽｲｯﾁ操作履歴,R,2023/1/19 19:02,2023/1/19 19:02,****/**/** **:**:**,1,1
213,0,0,103,102:洗浄 ｾﾚｸﾀｽｲｯﾁ操作履歴,O,2023/1/19 19:04,****/**/** **:**:**,****/**/** **:**:**,1,1
214,0,0,104,103:運転ｽｲｯﾁ操作履歴,R,2023/1/19 19:05,2023/1/19 19:05,****/**/** **:**:**,1,1

In [19]:
#1,2,8,9,10列削除
_df = _df.drop([1,2,8,9,10], axis=1)
_df

       3                        4  5                6                    7
15   109      108:警報解除ｽｲｯﾁ   操作履歴  R   2023/1/11 8:18       2023/1/11 8:18
16   109      108:警報解除ｽｲｯﾁ   操作履歴  R   2023/1/11 8:23       2023/1/11 8:23
17   108      107:警報停止ｽｲｯﾁ   操作履歴  R   2023/1/11 8:23       2023/1/11 8:23
18   109      108:警報解除ｽｲｯﾁ   操作履歴  R   2023/1/11 8:23       2023/1/11 8:24
19    93             092:冷却設定操作履歴  R   2023/1/11 9:25       2023/1/11 9:25
..   ...                      ... ..              ...                  ...
210  112                111:商品選択2  R  2023/1/19 18:04      2023/1/19 18:04
211  113                112:商品選択3  R  2023/1/19 18:35      2023/1/19 18:35
212  105           104:停止ｽｲｯﾁ操作履歴  R  2023/1/19 19:02      2023/1/19 19:02
213  103   102:洗浄    ｾﾚｸﾀｽｲｯﾁ操作履歴  O  2023/1/19 19:04  ****/**/** **:**:**
214  104           103:運転ｽｲｯﾁ操作履歴  R  2023/1/19 19:05      2023/1/19 19:05

[200 rows x 5 columns]

In [50]:
_df[6] = (pd.to_datetime(_df[6])).dt.round("min")
print((_df.iloc[0,3]).date())

2023-01-11

In [55]:
df_end = pd.read_csv(csv_list[-1], names = range(1,11,1), encoding="cp932", delimiter=",", dtype="object")
header_num = 15
df_end = df_end[header_num:]
df_end = df_end.drop([1,2,8,9,10], axis=1)
df_end[6] = (pd.to_datetime(df_end[6])).dt.round("min")
print((df_end.iloc[-1,3]).date())

2023-12-01

In [15]:
list = ['101']
drop_list = []
for i in range(0,record_num):
    if _df.iloc[i,0] in list:
        continue
    else:
        drop_list.append(i)

_df = _df.drop(_df.index[drop_list])
_df

       3                        4  5                6                7
34   101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R   2023/1/12 7:03  2023/1/12 21:14
54   101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R   2023/1/13 7:03  2023/1/13 17:35
63   101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R   2023/1/14 7:25  2023/1/14 14:14
90   101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R  2023/1/15 11:19  2023/1/15 13:43
109  101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R   2023/1/16 7:03  2023/1/16 19:27
125  101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R   2023/1/17 7:02  2023/1/17 19:12
144  101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R   2023/1/18 7:03  2023/1/18 19:13
150  101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R  2023/1/18 19:27  2023/1/18 19:27
152  101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R  2023/1/18 19:27  2023/1/18 19:27
156  101   100:冷却    ｾﾚｸﾀｽｲｯﾁ操作履歴  R   2023/1/19 7:07  2023/1/19 19:04

In [293]:
os.chdir(output_dir)
_df.to_csv("./out/sample02.csv", encoding="shift_jis", header=False, mode='a')

In [294]:
_df.iloc[0,2]

'R'

In [27]:
data = {3:[], 4:[], 5:[], 6:[], 7:[], 8:[]}
df0 = pd.DataFrame(data)
df0[6] = (pd.to_datetime(df0[6])).dt.round("min")
df0[7] = (pd.to_datetime(df0[7])).dt.round("min")

for csv in csv_list:
    os.chdir(import_dir)
    df = pd.read_csv(csv, names = range(1,11,1), encoding="cp932", delimiter=",", dtype="object")
    
    #headerおよび不要な列削除
    df = df[15:]
    df = df.drop([1,2,8,9,10], axis=1)
    
    drop_list = []
    for i in range(0,record_num):
        if df.iloc[i,0]=='101' and df.iloc[i,2] == 'R':
            continue
        else:
            drop_list.append(i)
    df = df.drop(df.index[drop_list])
    
    df[6] = (pd.to_datetime(df[6])).dt.round("min")
    df[7] = (pd.to_datetime(df[7])).dt.round("min")
    df[8] = df[7] - df[6]
    
    # 3時間以下及び20時間以上をフィルタリング
    drop_list2 = []
    for i in range(0,len(df)):
        if int((df.iloc[i,5]).seconds) >= 3*3600 and int((df.iloc[i,5]).seconds) <= 20*3600:
            continue
        else:
            drop_list2.append(i)
            
    df = df.drop(df.index[drop_list2])
    
    os.chdir(output_dir)
    df0 = pd.concat([df0,df])

df0 = df0.drop_duplicates(subset=6)
df0 = df0.drop_duplicates(subset=7)

drop_list3 = []
for i in range(0,len(df0)):
    for j in range(i+1,len(df0),1):
        dt = df0.iloc[j,3]-df0.iloc[i,3]
        if abs(int(dt.total_seconds())) <= 60:
            print('({0},{1})=({2},{3})：'.format(i,j,df0.iloc[i,3],df0.iloc[j,3]), dt.total_seconds())
            drop_list3.append(j)
df0 = df0.drop(df0.index[drop_list3])

df0.to_csv(out_dir+"sample_03.csv", encoding="shift_jis", header=False, columns=[6,7,8], index=False)

print('end')

(1,7)=(2023-01-13 07:03:00,2023-01-13 07:04:00)： 60.0
(3,8)=(2023-01-16 07:03:00,2023-01-16 07:04:00)： 60.0
(9,13)=(2023-01-20 07:03:00,2023-01-20 07:02:00)： -60.0
(14,15)=(2023-01-26 07:05:00,2023-01-26 07:06:00)： 60.0
(24,25)=(2023-02-08 06:54:00,2023-02-08 06:53:00)： -60.0
(26,27)=(2023-02-09 06:31:00,2023-02-09 06:32:00)： 60.0
(28,32)=(2023-02-10 07:01:00,2023-02-10 07:00:00)： -60.0
(30,33)=(2023-02-14 07:03:00,2023-02-14 07:02:00)： -60.0
(35,41)=(2023-02-17 07:06:00,2023-02-17 07:05:00)： -60.0
(42,43)=(2023-02-24 07:03:00,2023-02-24 07:04:00)： 60.0
(45,53)=(2023-02-27 07:02:00,2023-02-27 07:01:00)： -60.0
(46,54)=(2023-02-28 07:06:00,2023-02-28 07:05:00)： -60.0
(48,55)=(2023-03-02 07:03:00,2023-03-02 07:02:00)： -60.0
(66,78)=(2023-03-18 06:41:00,2023-03-18 06:40:00)： -60.0
(67,79)=(2023-03-20 07:03:00,2023-03-20 07:02:00)： -60.0
(69,80)=(2023-03-22 07:02:00,2023-03-22 07:01:00)： -60.0
(70,81)=(2023-03-23 07:02:00,2023-03-23 07:01:00)： -60.0
(75,82)=(2023-03-29 07:02:00,2023-03-29 07:01:00)： -60.0
(85,89)=(2023-04-05 06:29:00,2023-04-05 06:28:00)： -60.0
(88,90)=(2023-04-08 06:58:00,2023-04-08 06:57:00)： -60.0
(94,95)=(2023-04-15 05:51:00,2023-04-15 05:52:00)： 60.0
(99,106)=(2023-04-20 06:28:00,2023-04-20 06:27:00)： -60.0
(108,120)=(2023-05-02 06:56:00,2023-05-02 06:55:00)： -60.0
(112,121)=(2023-05-11 06:58:00,2023-05-11 06:57:00)： -60.0
(114,122)=(2023-05-14 06:45:00,2023-05-14 06:44:00)： -60.0
(118,123)=(2023-05-17 07:00:00,2023-05-17 06:59:00)： -60.0
(128,133)=(2023-05-24 07:00:00,2023-05-24 06:59:00)： -60.0
(131,134)=(2023-05-27 05:32:00,2023-05-27 05:31:00)： -60.0
(132,135)=(2023-05-28 06:37:00,2023-05-28 06:36:00)： -60.0
(136,137)=(2023-05-29 07:00:00,2023-05-29 07:01:00)： 60.0
(141,142)=(2023-06-02 07:02:00,2023-06-02 07:01:00)： -60.0
(146,153)=(2023-06-09 07:03:00,2023-06-09 07:02:00)： -60.0
(163,165)=(2023-06-27 07:02:00,2023-06-27 07:01:00)： -60.0
(164,166)=(2023-06-28 07:04:00,2023-06-28 07:03:00)： -60.0
(167,168)=(2023-06-29 09:08:00,2023-06-29 09:09:00)： 60.0
(170,176)=(2023-07-01 06:41:00,2023-07-01 06:40:00)： -60.0
(175,177)=(2023-07-07 20:08:00,2023-07-07 20:07:00)： -60.0
(179,187)=(2023-07-11 09:07:00,2023-07-11 09:06:00)： -60.0
(196,207)=(2023-08-02 07:04:00,2023-08-02 07:03:00)： -60.0
(199,208)=(2023-08-05 06:43:00,2023-08-05 06:42:00)： -60.0
(202,209)=(2023-08-09 07:07:00,2023-08-09 07:06:00)： -60.0
(205,210)=(2023-08-17 07:08:00,2023-08-17 07:07:00)： -60.0
(216,223)=(2023-08-25 07:04:00,2023-08-25 07:03:00)： -60.0
(224,239)=(2023-09-03 16:37:00,2023-09-03 16:36:00)： -60.0
(242,253)=(2023-09-21 09:10:00,2023-09-21 09:09:00)： -60.0
(243,254)=(2023-09-22 09:08:00,2023-09-22 09:07:00)： -60.0
(247,255)=(2023-09-26 07:05:00,2023-09-26 07:04:00)： -60.0
(248,256)=(2023-09-27 09:10:00,2023-09-27 09:09:00)： -60.0
(252,257)=(2023-10-03 09:08:00,2023-10-03 09:07:00)： -60.0
(261,263)=(2023-10-07 06:44:00,2023-10-07 06:43:00)： -60.0
(264,267)=(2023-10-08 19:20:00,2023-10-08 19:19:00)： -60.0
(265,268)=(2023-10-10 09:08:00,2023-10-10 09:07:00)： -60.0
(266,269)=(2023-10-11 09:09:00,2023-10-11 09:08:00)： -60.0
(272,273)=(2023-10-14 06:30:00,2023-10-14 06:31:00)： 60.0
(274,280)=(2023-10-16 09:08:00,2023-10-16 09:07:00)： -60.0
(275,281)=(2023-10-17 09:08:00,2023-10-17 09:07:00)： -60.0
(278,282)=(2023-10-20 09:08:00,2023-10-20 09:07:00)： -60.0
(285,298)=(2023-10-25 09:08:00,2023-10-25 09:07:00)： -60.0
(287,299)=(2023-10-27 09:08:00,2023-10-27 09:07:00)： -60.0
(291,300)=(2023-11-01 09:16:00,2023-11-01 09:15:00)： -60.0
(292,301)=(2023-11-02 09:08:00,2023-11-02 09:07:00)： -60.0
(295,302)=(2023-11-06 09:10:00,2023-11-06 09:09:00)： -60.0
(296,303)=(2023-11-07 09:08:00,2023-11-07 09:07:00)： -60.0
(297,304)=(2023-11-08 09:08:00,2023-11-08 09:07:00)： -60.0
(305,306)=(2023-11-09 09:07:00,2023-11-09 09:08:00)： 60.0
(310,319)=(2023-11-15 09:09:00,2023-11-15 09:08:00)： -60.0
(312,320)=(2023-11-17 09:10:00,2023-11-17 09:09:00)： -60.0
(314,321)=(2023-11-19 17:57:00,2023-11-19 17:56:00)： -60.0
(316,322)=(2023-11-21 09:11:00,2023-11-21 09:10:00)： -60.0
(317,323)=(2023-11-22 09:10:00,2023-11-22 09:09:00)： -60.0
(318,324)=(2023-11-24 09:08:00,2023-11-24 09:07:00)： -60.0
end