In [2]:
#!/usr/bin/env python3
import csv
import sys
import pandas as pd
import os
import os.path
import datetime
import glob

out_dir = "picked/"
os.makedirs(out_dir, exist_ok=True)

import_file = 'C:/Users/0296/Desktop/firstChiceDataAnalysis/out/sample_03.csv'
col_name = range(1,4,1)
df_import = pd.read_csv(import_file, names = col_name, encoding="shift_jis", delimiter=",", dtype="object")
df_import[1] = (pd.to_datetime(df_import[1])).dt.round("min")
df_import[2] = (pd.to_datetime(df_import[2])).dt.round("min")

In [10]:
# import csv files
log6_dir = "//172.25.0.195/fte_data (東日本)/【東京支社】/1.計画物件/3一般企業/ファーストチョイス㈱/ハンバーグフリーザー/HANEW本社監査指摘事項/運転データ/Package1/冷凍機_log1"
output_dir = 'C:/Users/0296/Desktop/firstChiceDataAnalysis/'
os.chdir(log6_dir)
log6_list = glob.glob("LOG00006_*.CSV")

In [11]:
data = {1:[], 11:[], 13:[], 20:[], 24:[], 28:[]}
df_out = pd.DataFrame(data)
df_out[1] = (pd.to_datetime(df_out[1])).dt.round("min")
col_name = range(1,32,1)
n = 0

In [12]:
df = pd.read_csv(log6_list[0], names = col_name, encoding="shift_jis", delimiter=",", dtype="object")
_df = df[13:]
filter_list = [2,3,4,5,6,7,8,9,10,12,14,15,16,17,18,19,21,22,23,25,26,27,29,30,31]
_df = _df.drop(filter_list, axis=1)
_df.reset_index(inplace=True, drop=True)
_df[1] = (pd.to_datetime(_df[1])).dt.round("min")
_df

                     1    11   13   20   24  28
0   2023-01-17 08:00:00  622  246  936  420  12
1   2023-01-17 08:01:00  618  236  935  532  40
2   2023-01-17 08:02:00  613  234  932  573  67
3   2023-01-17 08:03:00  611  228  930  544  84
4   2023-01-17 08:04:00  630  221  930  357  95
..                  ...  ...  ...  ...  ...  ..
715 2023-01-17 20:01:00  510  211  303  166   0
716 2023-01-17 20:02:00  510  212  297  166   0
717 2023-01-17 20:03:00  510  213  292  166   2
718 2023-01-17 20:04:00  510  213  286  166   0
719 2023-01-17 20:05:00  510  219  280  165   0

[720 rows x 6 columns]

In [15]:
_df.loc[0]

1     2023-01-17 08:00:00
11                    622
13                    246
20                    936
24                    420
28                     12
Name: 0, dtype: object

In [7]:
for i in range(0,len(df_import)):
    t_i = df_import.iloc[i,0]
    t_o = df_import.iloc[i,1]
    for j in range(0,len(_df)):
        t = _df.iloc[j,0]
        if t.date() == t_i.date():
            print('j={}\n'.format(j),_df.loc[j])
            t1 = int((t - t_i).seconds)
            t2 = int((t_o - t).seconds)
            t3 = int((t_o - t_i).seconds)
            if t1+t2==t3:
                df_out = pd.concat([df_out,_df.loc[j]], ignore_index=False)
                # df_out.append(_df.loc[j], ignore_index=False)
            elif t1==t2+t3:
                break
        elif (t - t_i).days > 0:
            break
df_out

j=0
 1     2023-01-17 08:00:00
11                    622
13                    246
20                    936
24                    420
28                     12
Name: 0, dtype: object
j=1
 1     2023-01-17 08:01:00
11                    618
13                    236
20                    935
24                    532
28                     40
Name: 1, dtype: object
j=2
 1     2023-01-17 08:02:00
11                    613
13                    234
20                    932
24                    573
28                     67
Name: 2, dtype: object
j=3
 1     2023-01-17 08:03:00
11                    611
13                    228
20                    930
24                    544
28                     84
Name: 3, dtype: object
j=4
 1     2023-01-17 08:04:00
11                    630
13                    221
20                    930
24                    357
28                     95
Name: 4, dtype: object
j=5
 1     2023-01-17 08:05:00
11                    596
13                    225
20                    925
24                    317
28                     22
Name: 5, dtype: object
j=6
 1     2023-01-17 08:06:00
11                    573
13                    268
20                    909
24                    302
28                     23
Name: 6, dtype: object
j=7
 1     2023-01-17 08:07:00
11                    588
13                    178
20                    851
24                    309
28                    152
Name: 7, dtype: object
j=8
 1     2023-01-17 08:08:00
11                    570
13                    192
20                    830
24                    192
28                    148
Name: 8, dtype: object
j=9
 1     2023-01-17 08:09:00
11                    571
13                    296
20                    791
24                    134
28                    149
Name: 9, dtype: object
j=10
 1     2023-01-17 08:10:00
11                    585
13                    238
20                    776
24                    274
28                      6
Name: 10, dtype: object
j=11
 1     2023-01-17 08:11:00
11                    605
13                    226
20                    776
24                    306
28                      6
Name: 11, dtype: object
j=12
 1     2023-01-17 08:12:00
11                    613
13                    226
20                    841
24                    321
28                     54
Name: 12, dtype: object
j=13
 1     2023-01-17 08:13:00
11                    613
13                    236
20                    885
24                    592
28                     67
Name: 13, dtype: object
j=14
 1     2023-01-17 08:14:00
11                    631
13                    235
20                    917
24                    616
28                     35
Name: 14, dtype: object
j=15
 1     2023-01-17 08:15:00
11                    620
13                    229
20                    935
24                    612
28                     96
Name: 15, dtype: object
j=16
 1     2023-01-17 08:16:00
11                    624
13                    223
20                    947
24                    528
28                     73
Name: 16, dtype: object
j=17
 1     2023-01-17 08:17:00
11                    585
13                    247
20                    951
24                    518
28                     76
Name: 17, dtype: object
j=18
 1     2023-01-17 08:18:00
11                    613
13                    180
20                    938
24                    391
28                     58
Name: 18, dtype: object
j=19
 1     2023-01-17 08:19:00
11                    579
13                    180
20                    932
24                    406
28                     48
Name: 19, dtype: object
j=20
 1     2023-01-17 08:20:00
11                    579
13                    180
20                    913
24                    282
28                     29
Name: 20, dtype: object
j=21
 1     2023-01-17 08:22:00
11                    579
13                    228
20                    885
24                    231
28                     41
Name: 21, dtype: object
j=22
 1     2023-01-17 08:23:00
11                    607
13                    220
20                    855
24                    217
28                     85
Name: 22, dtype: object
j=23
 1     2023-01-17 08:24:00
11                    613
13                    228
20                    883
24                    448
28                      0
Name: 23, dtype: object
j=24
 1     2023-01-17 08:25:00
11                    622
13                    229
20                    924
24                    637
28                     88
Name: 24, dtype: object
j=25
 1     2023-01-17 08:26:00
11                    635
13                    234
20                    953
24                    691
28                      0
Name: 25, dtype: object
j=26
 1     2023-01-17 08:27:00
11                    631
13                    231
20                    970
24                    690
28                      0
Name: 26, dtype: object
j=27
 1     2023-01-17 08:28:00
11                    631
13                    231
20                    977
24                    740
28                      5
Name: 27, dtype: object
j=28
 1     2023-01-17 08:29:00
11                    630
13                    220
20                    980
24                    708
28                     53
Name: 28, dtype: object
j=29
 1     2023-01-17 08:30:00
11                    594
13                    271
20                    976
24                    489
28                     78
Name: 29, dtype: object
j=30
 1     2023-01-17 08:31:00
11                    598
13                    156
20                    958
24                    324
28                    263
Name: 30, dtype: object
j=31
 1     2023-01-17 08:32:00
11                    590
13                    281
20                    924
24                    174
28                    171
Name: 31, dtype: object
j=32
 1     2023-01-17 08:33:00
11                    624
13                    228
20                    887
24                    339
28                    140
Name: 32, dtype: object
j=33
 1     2023-01-17 08:34:00
11                    635
13                    237
20                    917
24                    369
28                    142
Name: 33, dtype: object
j=34
 1     2023-01-17 08:35:00
11                    635
13                    243
20                    959
24                    435
28                    143
Name: 34, dtype: object
j=35
 1     2023-01-17 08:36:00
11                    641
13                    245
20                    977
24                    435
28                    193
Name: 35, dtype: object
j=36
 1     2023-01-17 08:37:00
11                    639
13                    245
20                    980
24                    425
28                    202
Name: 36, dtype: object
j=37
 1     2023-01-17 08:38:00
11                    637
13                    242
20                    978
24                    381
28                    257
Name: 37, dtype: object
j=38
 1     2023-01-17 08:39:00
11                    635
13                    242
20                    978
24                    390
28                    161
Name: 38, dtype: object
j=39
 1     2023-01-17 08:40:00
11                    631
13                    234
20                    978
24                    388
28                    142
Name: 39, dtype: object
j=40
 1     2023-01-17 08:41:00
11                    648
13                    234
20                    977
24                    370
28                    132
Name: 40, dtype: object
j=41
 1     2023-01-17 08:42:00
11                    637
13                    234
20                    977
24                    381
28                    136
Name: 41, dtype: object
j=42
 1     2023-01-17 08:43:00
11                    643
13                    235
20                    980
24                    384
28                    143
Name: 42, dtype: object
j=43
 1     2023-01-17 08:44:00
11                    639
13                    229
20                    982
24                    384
28                    142
Name: 43, dtype: object
j=44
 1     2023-01-17 08:45:00
11                    637
13                    237
20                    984
24                    391
28                    193
Name: 44, dtype: object
j=45
 1     2023-01-17 08:46:00
11                    643
13                    235
20                    984
24                    351
28                    199
Name: 45, dtype: object
j=46
 1     2023-01-17 08:47:00
11                    643
13                    237
20                    986
24                    383
28                    137
Name: 46, dtype: object
j=47
 1     2023-01-17 08:48:00
11                    635
13                    238
20                    987
24                    414
28                    192
Name: 47, dtype: object
j=48
 1     2023-01-17 08:49:00
11                    633
13                    237
20                    987
24                    419
28                    170
Name: 48, dtype: object
j=49
 1     2023-01-17 08:50:00
11                    637
13                    235
20                    984
24                    412
28                    154
Name: 49, dtype: object
j=50
 1     2023-01-17 08:51:00
11                    618
13                    234
20                    982
24                    387
28                    265
Name: 50, dtype: object
j=51
 1     2023-01-17 08:52:00
11                    650
13                    237
20                    978
24                    332
28                     14
Name: 51, dtype: object
j=52
 1     2023-01-17 08:53:00
11                    643
13                    234
20                    982
24                    522
28                     73
Name: 52, dtype: object
j=53
 1     2023-01-17 08:54:00
11                    639
13                    233
20                    984
24                    536
28                      0
Name: 53, dtype: object
j=54
 1     2023-01-17 08:55:00
11                    637
13                    228
20                    984
24                    577
28                      1
Name: 54, dtype: object
j=55
 1     2023-01-17 08:56:00
11                    650
13                    236
20                    985
24                    682
28                      0
Name: 55, dtype: object
j=56
 1     2023-01-17 08:57:00
11                    650
13                    237
20                    988
24                    706
28                      0
Name: 56, dtype: object
j=57
 1     2023-01-17 08:58:00
11                    654
13                    238
20                    991
24                    766
28                     28
Name: 57, dtype: object
j=58
 1     2023-01-17 08:59:00
11                    660
13                    240
20                    993
24                    899
28                      0
Name: 58, dtype: object
j=59
 1     2023-01-17 09:00:00
11                    661
13                    238
20                    995
24                    917
28                      0
Name: 59, dtype: object
j=60
 1     2023-01-17 09:01:00
11                    665
13                    237
20                    999
24                    922
28                      0
Name: 60, dtype: object
j=61
 1     2023-01-17 09:02:00
11                    669
13                    234
20                   1002
24                    918
28                      0
Name: 61, dtype: object
j=62
 1     2023-01-17 09:03:00
11                    661
13                    223
20                   1007
24                    911
28                      0
Name: 62, dtype: object
j=63
 1     2023-01-17 09:04:00
11                    654
13                    198
20                   1007
24                    942
28                    133
Name: 63, dtype: object
j=64
 1     2023-01-17 09:05:00
11                    658
13                    192
20                    996
24                    368
28                    125
Name: 64, dtype: object
j=65
 1     2023-01-17 09:06:00
11                    643
13                    159
20                    987
24                    220
28                    120
Name: 65, dtype: object
j=66
 1     2023-01-17 09:07:00
11                    633
13                    188
20                    968
24                    165
28                     42
Name: 66, dtype: object
j=67
 1     2023-01-17 09:08:00
11                    630
13                    240
20                    945
24                    150
28                     26
Name: 67, dtype: object
j=68
 1     2023-01-17 09:09:00
11                    628
13                    237
20                    916
24                    164
28                      0
Name: 68, dtype: object
j=69
 1     2023-01-17 09:10:00
11                    626
13                    235
20                    883
24                    168
28                      0
Name: 69, dtype: object
j=70
 1     2023-01-17 09:11:00
11                    705
13                    218
20                    731
24                    168
28                     81
Name: 70, dtype: object
j=71
 1     2023-01-17 09:12:00
11                    675
13                    231
20                    826
24                    172
28                      0
Name: 71, dtype: object
j=72
 1     2023-01-17 09:13:00
11                    678
13                    237
20                    931
24                    179
28                      2
Name: 72, dtype: object
j=73
 1     2023-01-17 09:14:00
11                    680
13                    239
20                    986
24                    279
28                      0
Name: 73, dtype: object
j=74
 1     2023-01-17 09:15:00
11                    682
13                    237
20                   1014
24                    319
28                      0
Name: 74, dtype: object
j=75
 1     2023-01-17 09:16:00
11                    656
13                    225
20                   1029
24                    741
28                     55
Name: 75, dtype: object
j=76
 1     2023-01-17 09:17:00
11                    652
13                    259
20                   1035
24                    909
28                     60
Name: 76, dtype: object
j=77
 1     2023-01-17 09:18:00
11                    626
13                    225
20                   1029
24                    780
28                      0
Name: 77, dtype: object
j=78
 1     2023-01-17 09:19:00
11                    562
13                    255
20                   1010
24                    756
28                      7
Name: 78, dtype: object
j=79
 1     2023-01-17 09:20:00
11                    545
13                    254
20                    983
24                    724
28                     20
Name: 79, dtype: object
j=80
 1     2023-01-17 09:21:00
11                    541
13                    287
20                    953
24                    710
28                     70
Name: 80, dtype: object
j=81
 1     2023-01-17 09:22:00
11                    560
13                    246
20                    927
24                    483
28                    106
Name: 81, dtype: object
j=82
 1     2023-01-17 09:23:00
11                    588
13                    258
20                    924
24                    385
28                     90
Name: 82, dtype: object
j=83
 1     2023-01-17 09:24:00
11                    585
13                    237
20                    915
24                    401
28                     59
Name: 83, dtype: object
j=84
 1     2023-01-17 09:25:00
11                    596
13                    236
20                    929
24                    565
28                    116
Name: 84, dtype: object
j=85
 1     2023-01-17 09:26:00
11                    598
13                    238
20                    947
24                    454
28                    133
Name: 85, dtype: object
j=86
 1     2023-01-17 09:27:00
11                    600
13                    239
20                    958
24                    418
28                     84
Name: 86, dtype: object
j=87
 1     2023-01-17 09:28:00
11                    607
13                    235
20                    963
24                    456
28                      0
Name: 87, dtype: object
j=88
 1     2023-01-17 09:29:00
11                    601
13                    225
20                    968
24                    575
28                     58
Name: 88, dtype: object
j=89
 1     2023-01-17 09:30:00
11                    583
13                    233
20                    972
24                    714
28                     63
Name: 89, dtype: object
j=90
 1     2023-01-17 09:31:00
11                    628
13                    245
20                    966
24                    524
28                      0
Name: 90, dtype: object
j=91
 1     2023-01-17 09:32:00
11                    613
13                    247
20                    957
24                    491
28                     97
Name: 91, dtype: object
j=92
 1     2023-01-17 09:33:00
11                    618
13                    246
20                    945
24                    554
28                    133
Name: 92, dtype: object
j=93
 1     2023-01-17 09:34:00
11                    624
13                    257
20                    939
24                    384
28                     90
Name: 93, dtype: object
j=94
 1     2023-01-17 09:35:00
11                    628
13                    252
20                    935
24                    432
28                     17
Name: 94, dtype: object
j=95
 1     2023-01-17 09:36:00
11                    622
13                    260
20                    927
24                    529
28                      0
Name: 95, dtype: object
j=96
 1     2023-01-17 09:37:00
11                    624
13                    257
20                    920
24                    585
28                      0
Name: 96, dtype: object
j=97
 1     2023-01-17 09:38:00
11                    628
13                    264
20                    916
24                    587
28                      0
Name: 97, dtype: object
j=98
 1     2023-01-17 09:39:00
11                    630
13                    265
20                    911
24                    580
28                      1
Name: 98, dtype: object
j=99
 1     2023-01-17 09:40:00
11                    633
13                    240
20                    894
24                    581
28                      0
Name: 99, dtype: object
j=100
 1     2023-01-17 09:41:00
11                    637
13                    239
20                    900
24                    580
28                      4
Name: 100, dtype: object
j=101
 1     2023-01-17 09:42:00
11                    643
13                    236
20                    920
24                    671
28                      0
Name: 101, dtype: object
j=102
 1     2023-01-17 09:43:00
11                    650
13                    231
20                    939
24                    707
28                      0
Name: 102, dtype: object
j=103
 1     2023-01-17 09:44:00
11                    650
13                    235
20                    959
24                    735
28                     19
Name: 103, dtype: object
j=104
 1     2023-01-17 09:45:00
11                    656
13                    234
20                    976
24                    826
28                      0
Name: 104, dtype: object
j=105
 1     2023-01-17 09:46:00
11                    661
13                    234
20                    985
24                    831
28                      0
Name: 105, dtype: object
j=106
 1     2023-01-17 09:47:00
11                    665
13                    232
20                    996
24                    826
28                      9
Name: 106, dtype: object
j=107
 1     2023-01-17 09:48:00
11                    665
13                    232

    1   11  13  20  24  28                   0
1  NaT NaN NaN NaN NaN NaN  2023-01-17 08:00:00
11 NaT NaN NaN NaN NaN NaN                  622
13 NaT NaN NaN NaN NaN NaN                  246
20 NaT NaN NaN NaN NaN NaN                  936
24 NaT NaN NaN NaN NaN NaN                  420
..  ..  ..  ..  ..  ..  ..                  ...
11 NaT NaN NaN NaN NaN NaN                  570
13 NaT NaN NaN NaN NaN NaN                  185
20 NaT NaN NaN NaN NaN NaN                  767
24 NaT NaN NaN NaN NaN NaN                  120
28 NaT NaN NaN NaN NaN NaN                  151

[4002 rows x 7 columns]

In [26]:
data = {1:[], 11:[], 13:[], 20:[], 24:[], 28:[]}
df_out = pd.DataFrame(data)
df_out[1] = (pd.to_datetime(df_out[1])).dt.round("min")
col_name = range(1,32,1)
n = 0
for log6 in log6_list:
    os.chdir(log6_dir)
    df = pd.read_csv(log6, names = col_name, encoding="shift_jis", delimiter=",", dtype="object")
    _df = df[13:]
    list1 = [2,3,4,5,6,7,8,9,10,12,14,15,16,17,18,19,21,22,23,25,26,27,29,30,31]
    _df = _df.drop(list1, axis=1)
    _df[1] = (pd.to_datetime(_df[1])).dt.round("min")
    print(_df.loc[13])
    for i in range(0,len(df_import)):
        if _df.iloc[0,0].date() == df_import.iloc[i,0].date():
            for j in range(i,len(_df)):
                t1 = int((_df.iloc[j,0] - df_import.iloc[i,0]).seconds)
                t2 = int((df_import.iloc[i,1] - _df.iloc[j,0]).seconds)
                t3 = int((df_import.iloc[i,1] - df_import.iloc[i,0]).seconds)
                if t1+t2==t3:
                    df_out = pd.concat([df_out,df2], ignore_index=False)

        for j in range(0,len(_df)):
            if _df.iloc[j,0].date() == df_import.iloc[i,0].date():
                t1 = int((_df.iloc[j,0] - df_import.iloc[i,0]).seconds)
                t2 = int((df_import.iloc[i,1] - _df.iloc[j,0]).seconds)
                t3 = int((df_import.iloc[i,1] - df_import.iloc[i,0]).seconds)
                if t1+t2==t3:
                    continue
                else:
            else:
        df_out = pd.concat([df_out,df2], ignore_index=False)
    print('n={0}:{1} END'.format(n,log6))
    n = n + 1
    if n > len(log6_list):
        os.chdir(output_dir)
        df_out = df_out.rename(columns={1: 'Time',11: 'MT吐出圧力',13: 'LT吐出圧力',20: 'MT吐出温度',24: '温水取出温度',28:'温水流量'})
        # df_out.to_csv(out_dir+"picked_log06_{0}.csv".format(n/10), encoding="shift_jis", index=False)
        # print('picked_log06_{0}.csv SAVED'.format(n/10))
        print('ALL END')
        break
    elif n!=0 and n%10==0:
        os.chdir(output_dir)
        df_out = df_out.rename(columns={1: 'Time',11: 'MT吐出圧力',13: 'LT吐出圧力',20: 'MT吐出温度',24: '温水取出温度',28:'温水流量'})
        # df_out.to_csv(out_dir+"picked_log06_{0}.csv".format(n/10), encoding="shift_jis", index=False)
        df_out = pd.DataFrame(data)
        df_out[1] = (pd.to_datetime(df_out[1])).dt.round("min")
        # print('picked_log06_{0}.csv SAVED'.format(n/10))

1     2023-01-17 08:00:00
11                    622
13                    246
20                    936
24                    420
28                     12
Name: 13, dtype: object
1     2023-01-17 20:06:00
11                    510
13                    228
20                    275
24                    164
28                      3
Name: 13, dtype: object
1     2023-01-18 08:06:00
11                    603
13                    242
20                    971
24                    549
28                     86
Name: 13, dtype: object
1     2023-01-18 20:07:00
11                    448
13                    249
20                    148
24                    109
28                    145
Name: 13, dtype: object
1     2023-01-19 08:08:00
11                    607
13                    231
20                    984
24                    337
28                     47
Name: 13, dtype: object
1     2023-01-19 20:10:00
11                    478
13                    164
20                    339
24                    122
28                      0
Name: 13, dtype: object
1     2023-01-20 08:12:00
11                    571
13                    186
20                    946
24                    911
28                     26
Name: 13, dtype: object
1     2023-01-20 20:14:00
11                    438
13                    232
20                    102
24                    101
28                      0
Name: 13, dtype: object
1     2023-01-21 08:14:00
11                    450
13                    239
20                    107
24                    103
28                     57
Name: 13, dtype: object
1     2023-01-21 20:21:00
11                    472
13                    230
20                    188
24                    176
28                      1
Name: 13, dtype: object
1     2023-01-22 08:21:00
11                    418
13                    195
20                    154
24                     85
28                      2
Name: 13, dtype: object
1     2023-01-22 20:21:00
11                    435
13                    240
20                    127
24                    104
28                      1
Name: 13, dtype: object
1     2023-01-23 08:22:00
11                    635
13                    221
20                    967
24                    663
28                     78
Name: 13, dtype: object
1     2023-01-23 20:25:00
11                    648
13                    201
20                    980
24                    671
28                     66
Name: 13, dtype: object
1     2023-01-24 08:25:00
11                    607
13                    202
20                   1005
24                    690
28                      0
Name: 13, dtype: object
1     2023-01-24 20:25:00
11                    526
13                    139
20                    515
24                    165
28                    218
Name: 13, dtype: object
1     2023-01-25 08:25:00
11                    600
13                    194
20                    881
24                    398
28                     38
Name: 13, dtype: object
1     2023-01-25 20:25:00
11                    455
13                    172
20                    338
24                    102
28                      0
Name: 13, dtype: object
1     2023-01-26 08:25:00
11                    637
13                    225
20                    994
24                    433
28                    151
Name: 13, dtype: object
1     2023-01-26 20:25:00
11                    493
13                    192
20                    316
24                    157
28                      0
Name: 13, dtype: object
1     2023-01-27 08:25:00
11                    641
13                    215
20                   1038
24                    813
28                      0
Name: 13, dtype: object
1     2023-01-27 20:25:00
11                    431
13                    192
20                    201
24                     98
28                      0
Name: 13, dtype: object
1     2023-01-28 08:25:00
11                    416
13                    237
20                     89
24                     45
28                      0
Name: 13, dtype: object
1     2023-01-28 20:25:00
11                    429
13                    185
20                    118
24                     67
28                      0
Name: 13, dtype: object
1     2023-01-29 08:25:00
11                    406
13                    240
20                     69
24                     16
28                      0
Name: 13, dtype: object
1     2023-01-29 20:25:00
11                    429
13                    201
20                     93
24                     92
28                      0
Name: 13, dtype: object
1     2023-01-30 08:25:00
11                    594
13                    203
20                    983
24                    580
28                     50
Name: 13, dtype: object
1     2023-01-30 20:26:00
11                   4.20
13                   2.23
20                   34.6
24                   18.7
28                    0.4
Name: 13, dtype: object
1     2023-01-31 08:27:00
11                   5.53
13                   1.92
20                   92.8
24                   33.0
28                    5.0
Name: 13, dtype: object
1     2023-01-31 20:27:00
11                   4.59
13                   1.40
20                   27.8
24                   16.2
28                    0.1
Name: 13, dtype: object
1     2023-02-01 08:27:00
11                   6.22
13                   2.10
20                   98.7
24                   68.1
28                    5.6
Name: 13, dtype: object
1     2023-02-01 20:27:00
11                   5.02
13                   2.43
20                   18.6
24                   13.8
28                    0.0
Name: 13, dtype: object
1     2023-02-02 08:27:00
11                   5.66
13                   1.68
20                   94.3
24                   23.7
28                    2.1
Name: 13, dtype: object
1     2023-02-02 20:27:00
11                   4.40
13                   2.30
20                   15.4
24                   11.6
28                    0.2
Name: 13, dtype: object
1     2023-02-03 08:27:00
11                   6.52
13                   2.14
20                   99.7
24                   63.0
28                    4.7
Name: 13, dtype: object
1     2023-02-03 20:27:00
11                   4.76
13                   2.17
20                   22.0
24                   13.7
28                    0.0
Name: 13, dtype: object
1     2023-02-04 08:27:00
11                   4.46
13                   1.97
20                   23.2
24                   10.6
28                    0.2
Name: 13, dtype: object
1     2023-02-04 20:29:00
11                   4.80
13                   2.31
20                   16.7
24                   14.9
28                    0.1
Name: 13, dtype: object
1     2023-02-05 08:29:00
11                   4.48
13                   1.49
20                   40.4
24                   17.2
28                    0.1
Name: 13, dtype: object
1     2023-02-05 20:29:00
11                   4.59
13                   1.73
20                   18.4
24                   12.9
28                    0.1
Name: 13, dtype: object
1     2023-02-06 08:29:00
11                   5.96
13                   2.56
20                  106.5
24                   65.3
28                    6.0
Name: 13, dtype: object
1     2023-02-06 20:29:00
11                   4.93
13                   1.53
20                   32.0
24                   15.9
28                    0.0
Name: 13, dtype: object
1     2023-02-07 08:29:00
11                   6.09
13                   2.13
20                  110.7
24                  101.1
28                    0.0
Name: 13, dtype: object
1     2023-02-07 20:29:00
11                   4.83
13                   2.25
20                   20.9
24                   15.1
28                    0.0
Name: 13, dtype: object
1     2023-02-08 08:29:00
11                   6.75
13                   2.12
20                   95.5
24                   52.8
28                    4.1
Name: 13, dtype: object
1     2023-02-08 20:29:00
11                   4.65
13                   2.02
20                   13.6
24                   12.8
28                    0.0
Name: 13, dtype: object
1     2023-02-09 08:29:00
11                   6.31
13                   2.06
20                  103.7
24                   89.3
28                    7.2
Name: 13, dtype: object
1     2023-02-09 20:29:00
11                   4.66
13                   1.98
20                   20.2
24                   14.8
28                    0.0
Name: 13, dtype: object
1     2023-02-10 08:29:00
11                   6.18
13                   2.03
20                   90.9
24                   46.9
28                    4.2
Name: 13, dtype: object
1     2023-02-10 20:29:00
11                   5.58
13                   2.06
20                   45.3
24                   19.8
28                    0.0
Name: 13, dtype: object
1     2023-02-11 08:29:00
11                   4.66
13                   2.05
20                   14.8
24                   11.9
28                    0.1
Name: 13, dtype: object
1     2023-02-11 20:29:00
11                   4.61
13                   2.33
20                   19.4
24                   14.4
28                    0.1
Name: 13, dtype: object
1     2023-02-12 08:29:00
11                   4.59
13                   2.36
20                   16.3
24                   12.5
28                    0.1
Name: 13, dtype: object
1     2023-02-12 20:29:00
11                   4.96
13                   2.30
20                   26.5
24                   18.7
28                    0.0
Name: 13, dtype: object
1     2023-02-13 08:29:00
11                   6.15
13                   2.11
20                   99.7
24                   97.0
28                    4.0
Name: 13, dtype: object
1     2023-02-13 20:29:00
11                   4.55
13                   2.28
20                   18.0
24                   11.7
28                    0.0
Name: 13, dtype: object
1     2023-02-14 08:29:00
11                   6.60
13                   2.10
20                  106.1
24                   74.7
28                    6.7
Name: 13, dtype: object
1     2023-02-14 20:29:00
11                   4.51
13                   2.31
20                   14.3
24                   11.7
28                    1.5
Name: 13, dtype: object
1     2023-02-15 08:29:00
11                   6.26
13                   2.39
20                   99.2
24                   67.3
28                    0.1
Name: 13, dtype: object
1     2023-02-15 20:29:00
11                   4.50
13                   1.83
20                   17.6
24                   11.2
28                    0.0
Name: 13, dtype: object
1     2023-02-16 08:29:00
11                   5.73
13                   1.86
20                  104.0
24                   87.6
28                    0.8
Name: 13, dtype: object
1     2023-02-16 20:29:00
11                   4.48
13                   2.19
20                   13.1
24                   11.2
28                    0.0
Name: 13, dtype: object
1     2023-02-17 08:30:00
11                   6.24
13                   2.14
20                  100.2
24                   69.6
28                    0.0
Name: 13, dtype: object
1     2023-02-17 20:30:00
11                   4.72
13                   1.85
20                   32.4
24                   12.5
28                    0.1
Name: 13, dtype: object
1     2023-02-18 14:55:00
11                   5.64
13                   1.42
20                   58.5
24                   24.0
28                    0.2
Name: 13, dtype: object
1     2023-02-19 02:57:00
11                   4.44
13                   2.42
20                   16.2
24                   14.0
28                    0.1
Name: 13, dtype: object
1     2023-02-19 14:57:00
11                   5.47
13                   2.37
20                   28.2
24                   20.5
28                    0.0
Name: 13, dtype: object
1     2023-02-20 02:57:00
11                   4.78
13                   2.11
20                   22.5
24                   16.4
28                    0.0
Name: 13, dtype: object
1     2023-02-20 14:57:00
11                   6.39
13                   2.14
20                  107.2
24                   66.5
28                    0.0
Name: 13, dtype: object
1     2023-02-21 02:57:00
11                   4.38
13                   2.37
20                   14.5
24                   13.4
28                    0.0
Name: 13, dtype: object
1     2023-02-21 14:58:00
11                   5.66
13                   1.67
20                   97.1
24                   43.2
28                    0.0
Name: 13, dtype: object
1     2023-02-22 02:58:00
11                   4.05
13                   2.15
20                   10.8
24                    9.3
28                    0.1
Name: 13, dtype: object
1     2023-02-22 14:58:00
11                   6.39
13                   2.07
20                   94.4
24                   21.1
28                    0.0
Name: 13, dtype: object
1     2023-02-23 02:58:00
11                   4.53
13                   1.86
20                   30.3
24                   12.7
28                    0.0
Name: 13, dtype: object
1     2023-02-23 14:58:00
11                   5.26
13                   2.34
20                   26.6
24                   13.2
28                    7.7
Name: 13, dtype: object
1     2023-02-24 02:58:00
11                   4.53
13                   2.36
20                   18.6
24                   14.2
28                    0.0
Name: 13, dtype: object
1     2023-02-24 14:58:00
11                   6.16
13                   2.00
20                   90.7
24                   32.2
28                    0.0
Name: 13, dtype: object
1     2023-02-25 02:58:00
11                   4.53
13                   2.42
20                   21.4
24                   17.4
28                    0.0
Name: 13, dtype: object
1     2023-02-25 14:58:00
11                   4.74
13                   2.13
20                   16.8
24                   13.3
28                    2.4
Name: 13, dtype: object
1     2023-02-26 02:58:00
11                   4.25
13                   1.69
20                   19.9
24                   11.6
28                    0.1
Name: 13, dtype: object
1     2023-02-26 14:58:00
11                   4.53
13                   1.49
20                   23.2
24                   11.2
28                   -2.4
Name: 13, dtype: object
1     2023-02-27 02:59:00
11                   4.21
13                   1.99
20                   13.4
24                    9.5
28                   -2.4
Name: 13, dtype: object
1     2023-02-27 15:00:00
11                   5.58
13                   2.02
20                   92.1
24                   59.5
28                    3.6
Name: 13, dtype: object
1     2023-02-28 03:00:00
11                   4.53
13                   1.61
20                   10.9
24                   10.0
28                   -2.4
Name: 13, dtype: object
1     2023-02-28 15:00:00
11                   5.68
13                   2.00
20                   95.5
24                   62.6
28                   -0.6
Name: 13, dtype: object
1     2023-03-01 03:00:00
11                   4.66
13                   2.17
20                   13.7
24                   13.0
28                   -2.4
Name: 13, dtype: object
1     2023-03-01 15:00:00
11                   5.81
13                   2.00
20                   96.3
24                   54.2
28                   -0.3
Name: 13, dtype: object
1     2023-03-02 03:00:00
11                   5.02
13                   1.86
20                   18.5
24                   14.8
28                   -2.4
Name: 13, dtype: object
1     2023-03-02 15:00:00
11                   5.19
13                   2.32
20                   88.6
24                   72.5
28                   -2.4
Name: 13, dtype: object
1     2023-03-03 03:00:00
11                   4.44
13                   1.65
20                   18.8
24                   10.9
28                   -2.4
Name: 13, dtype: object
1     2023-03-03 15:00:00
11                   5.11
13                   1.76
20                   77.6
24                   54.5
28                   -2.4
Name: 13, dtype: object
1     2023-03-04 03:00:00
11                   4.70
13                   1.95
20                   14.1
24                   12.4
28                   -2.4
Name: 13, dtype: object
1     2023-03-04 15:00:00
11                   5.23
13                   1.17
20                   75.8
24                   72.4
28                   -2.4
Name: 13, dtype: object
1     2023-03-05 03:00:00
11                   4.27
13                   2.24
20                   11.1
24                   10.6
28                   -2.4
Name: 13, dtype: object
1     2023-03-05 15:00:00
11                   4.78
13                   2.07
20                   17.4
24                   15.8
28                   -2.4
Name: 13, dtype: object
1     2023-03-06 03:00:00
11                   4.63
13                   1.36
20                   27.1
24                   13.7
28                   -2.4
Name: 13, dtype: object
1     2023-03-06 15:00:00
11                   5.25
13                   1.18
20                   78.3
24                   67.3
28                   -2.4
Name: 13, dtype: object
1     2023-03-07 03:00:00
11                   4.42
13                   2.16
20                   10.6
24                   10.8
28                   -2.4
Name: 13, dtype: object
1     2023-03-07 15:00:00
11                   5.21
13                   2.25
20                   90.6
24                   23.9
28                   -2.4
Name: 13, dtype: object
1     2023-03-08 03:00:00
11                   4.31
13                   2.00
20                   12.2
24                    9.7
28                   -2.4
Name: 13, dtype: object
1     2023-03-08 15:01:00
11                   5.21
13                   1.44
20                   91.4
24                   39.7
28                   -2.4
Name: 13, dtype: object
1     2023-03-09 03:01:00
11                   4.33
13                   2.07
20                   12.3
24                   12.7
28                   -2.4
Name: 13, dtype: object
1     2023-03-09 15:01:00
11                   5.28
13                   2.00
20                  100.1
24                   84.8
28                   -1.8
Name: 13, dtype: object
1     2023-03-10 03:01:00
11                   5.25
13                   1.84
20                   24.7
24                   16.9
28                   -2.4
Name: 13, dtype: object
1     2023-03-10 15:01:00
11                   5.23
13                   1.32
20                   80.4
24                   18.7
28                    0.6
Name: 13, dtype: object
1     2023-03-11 03:01:00
11                   4.46
13                   2.34
20                   13.0
24                   14.0
28                   -2.4
Name: 13, dtype: object
1     2023-03-11 15:01:00
11                   5.73
13                   2.21
20                   90.4
24                   78.4
28                   -2.4
Name: 13, dtype: object
1     2023-03-12 03:01:00
11                   4.12
13                   1.80
20                    7.5
24                    9.1
28                   -2.4
Name: 13, dtype: object
1     2023-03-12 15:01:00
11                   5.11
13                   2.27
20                   20.6
24                   18.5
28                   -2.4
Name: 13, dtype: object
1     2023-03-13 03:01:00
11                   4.91
13                   2.04
20                   17.4
24                   15.2
28                   -2.4
Name: 13, dtype: object
1     2023-03-13 15:01:00
11                   5.79
13                   2.56
20                   96.2
24                   80.0
28                    0.3
Name: 13, dtype: object

In [165]:
data = {1:[], 11:[], 13:[], 20:[], 24:[], 28:[]}
df_out = pd.DataFrame(data)
df_out[1] = (pd.to_datetime(df_out[1])).dt.round("min")
col_name = range(1,32,1)
n = 0
for log6 in log6_list:
    os.chdir(log6_dir)
    df = pd.read_csv(log6, names = col_name, encoding="shift_jis", delimiter=",", dtype="object")
    _df = df[13:]
    list1 = [2,3,4,5,6,7,8,9,10,12,14,15,16,17,18,19,21,22,23,25,26,27,29,30,31]
    _df = _df.drop(list1, axis=1)
    _df[1] = (pd.to_datetime(_df[1])).dt.round("min")

    for i in range(0,len(df_import)):
        t_i = df_import.iloc[i,0]
        t_o = df_import.iloc[i,1]
        for j in range(0,len(_df)):
            t = _df.iloc[j,0]
            if t.date() == t_i.date():
                t1 = int((t - t_i).seconds)
                t2 = int((t_o - t).seconds)
                t3 = int((t_o - t_i).seconds)
                if t1+t2==t3:
                    df_out = pd.concat([df_out,_df.loc[13+j]], ignore_index=False)
                elif t1==t2+t3:
                    break
            elif (t - t_i).days > 0:
                break
    print('n={0}:{1} END'.format(n,log6))
    n = n + 1
    if n > len(log6_list):
        os.chdir(output_dir)
        df_out = df_out.rename(columns={1: 'Time',11: 'MT吐出圧力',13: 'LT吐出圧力',20: 'MT吐出温度',24: '温水取出温度',28:'温水流量'})
        df_out.to_csv(out_dir+"picked_log06_{0}.csv".format(n/10), encoding="shift_jis", index=False)
        print('picked_log06_{0}.csv SAVED'.format(n/10))
        print('ALL END')
        break
    elif n!=0 and n%10==0:
        os.chdir(output_dir)
        df_out = df_out.rename(columns={1: 'Time',11: 'MT吐出圧力',13: 'LT吐出圧力',20: 'MT吐出温度',24: '温水取出温度',28:'温水流量'})
        df_out.to_csv(out_dir+"picked_log06_{0}.csv".format(n/10), encoding="shift_jis", index=False)
        df_out = pd.DataFrame(data)
        df_out[1] = (pd.to_datetime(df_out[1])).dt.round("min")
        print('picked_log06_{0}.csv SAVED'.format(n/10))

633

In [170]:
log6_list.index('LOG00006_0010.CSV')

9