In [63]:
#!/usr/bin/env python3
import csv
import sys
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import os.path
import datetime
from matplotlib import rc
import pathlib
import glob

out_dir = "picked/"
os.makedirs(out_dir, exist_ok=True)

import_file = 'C:/Users/0296/TAKAHASHI(Local)/firstChiceDataAnalysis/out/11_20231219.csv'
col_name = range(1,4,1)
df_import = pd.read_csv(import_file, names = col_name, encoding="cp932", delimiter=",", dtype="object")
df_import[1] = (pd.to_datetime(df_import[1])).dt.round("min")
df_import[2] = (pd.to_datetime(df_import[2])).dt.round("min")
df_import

                      1                   2                3
0   2023-01-12 07:03:00 2023-01-12 21:14:00  0 days 14:11:00
1   2023-01-13 07:03:00 2023-01-13 17:35:00  0 days 10:32:00
2   2023-01-14 07:25:00 2023-01-14 14:14:00  0 days 06:49:00
3   2023-01-16 07:03:00 2023-01-16 19:27:00  0 days 12:24:00
4   2023-01-17 07:02:00 2023-01-17 19:12:00  0 days 12:10:00
..                  ...                 ...              ...
326 2023-11-27 09:09:00 2023-11-27 17:36:00  0 days 08:27:00
327 2023-11-28 07:04:00 2023-11-28 17:46:00  0 days 10:42:00
328 2023-11-29 07:05:00 2023-11-29 19:29:00  0 days 12:24:00
329 2023-11-30 07:01:00 2023-11-30 18:58:00  0 days 11:57:00
330 2023-12-01 07:06:00 2023-12-01 18:56:00  0 days 11:50:00

[331 rows x 3 columns]

In [64]:
# import csv files
log6_dir = "//172.25.0.195/fte_data (東日本)/【東京支社】/1.計画物件/3一般企業/ファーストチョイス㈱/ハンバーグフリーザー/HANEW本社監査指摘事項/送受信/Package1/冷凍機_log1"
log1_dir = "//172.25.0.195/fte_data (東日本)/【東京支社】/1.計画物件/3一般企業/ファーストチョイス㈱/ハンバーグフリーザー/HANEW本社監査指摘事項/送受信/Package1/各所温度_log"
output_dir = "C:/Users/0296/TAKAHASHI(Local)/firstChiceDataAnalysis"

# os.chdir(log1_dir)
# log1_list = glob.glob("LOG00001_*.CSV")
os.chdir(log6_dir)
log6_list = glob.glob("LOG00006_*.CSV")

In [65]:
col_name = range(1,29,1)
df = pd.read_csv(log6_list[0], names = col_name, encoding="cp932", delimiter=",", dtype="object")

# record_num = int(df_data.iloc[0,1])
# print("Record number = ",record_num)

_df = df[13:]

#不要な列削除
list1 = range(2,24,1)
_df = _df.drop(list1, axis=1)
list2 = [25,26,27]
_df = _df.drop(list2, axis=1)
_df[1] = (pd.to_datetime(_df[1])).dt.round("min")

data = {1:[], 24:[], 28:[]}
df0 = pd.DataFrame(data)
df0[1] = (pd.to_datetime(df0[1])).dt.round("min")
_df

                     1    24  28
13  2023-01-17 08:00:00  420  12
14  2023-01-17 08:01:00  532  40
15  2023-01-17 08:02:00  573  67
16  2023-01-17 08:03:00  544  84
17  2023-01-17 08:04:00  357  95
..                  ...  ...  ..
728 2023-01-17 20:01:00  166   0
729 2023-01-17 20:02:00  166   0
730 2023-01-17 20:03:00  166   2
731 2023-01-17 20:04:00  166   0
732 2023-01-17 20:05:00  165   0

[720 rows x 3 columns]

In [86]:
for i,j in zip(range(0,len(df_import)), range(0,len(_df))):
    day1 = _df.iloc[j,0].date()
    day2 = df_import.iloc[i,0].date()
    print('d1 = ',day1, 'd2 = ', day2)
    
    if day1 == day2:
        day3 = df_import.iloc[i,1].date()
        if day1-day2>=0 and day2-day3>=0:
            print(_df.iloc[j,1])
        else:
            continue
    else:
        continue

d1 =  2023-01-17 d2 =  2023-01-12
d1 =  2023-01-17 d2 =  2023-01-13
d1 =  2023-01-17 d2 =  2023-01-14
d1 =  2023-01-17 d2 =  2023-01-16
d1 =  2023-01-17 d2 =  2023-01-17

TypeError: '>=' not supported between instances of 'datetime.timedelta' and 'int'